<div class="d-flex mt-4">
    <input class="form-control me-2" type="search" placeholder="Search" [(ngModel)]="searchQuery"
        (keyup.enter)="getArtists()">
</div>
<div class="d-flex row my-3">
    <div class="container">
        <div class="card mb-3" *ngFor="let artist of artists" style="max-width: 700px;height:130px;overflow: hidden;">
            <div class="d-flex flex-row">
                <img [src]="artist.images[0].url" style="width: 130px;height:130px;"
                    class="img-fluid rounded-start" [alt]="artist.name" span>

                <div class="card-body px-2">
                    <a class="nav-link" routerLink="/artists/{{artist.id}}">
                        <h3 class="py-1 m-0">{{ artist.name }}</h3>
                    </a>
                    <h5 class="p-0">Followers : {{ artist.followers.total }}</h5>
                    <div class="d-flex flex-row flex-wrap">
                        <div class="d-flex">
                            <p class="p-1">Genres : </p>
                        </div>
                        <div class="d-flex">
                            <div class="p-1" *ngFor="let genre of artist.genres">
                                <h6><span class="badge spotify-badge">{{ genre }}</span></h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>